.calculating-machine {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    background: #000;
}

.calculating-machine .result-container {
    background: #fff;
    min-height: 50px;
    position: relative;
    border-radius: 30px;
    display: flex;
    align-items: end;
    justify-content: right;
    padding-right: 5px;
    margin-bottom: 10px;
}


.calculating-machine .button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
}



.calculating-machine .button-container .calculating-item {
    display: flex;
    width: 24%;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    cursor: pointer;
}

.calculating-machine .button-container .calculating-item:hover {
    color: white;
    background: gray;
}

.equal-item {
    background: #FCAE1E;
}

.other-item {
    background: #fff;
}